<link href="assets/spinia/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/spinia/css/style.css" rel="stylesheet">

<app-header></app-header>


<app-sidebar></app-sidebar>

<!-- Main content -->
<main class="main">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-fluid">
    <div class="animated fadeIn">

      <div *ngFor="let group of groups; let i = index; trackBy:trackByIndex">
        <div *ngIf="i%3 == 0" class="row">
          <div *ngFor="let group of groups; let j = index; trackBy:trackByIndex">
            <div *ngIf="j>=i && j<i+3" class="col-md-4">
              <div class="ibox">
                <div class="ibox-title">
                  <a (click)="openCustom(i)"><span class="label label-primary pull-right"><i class="fa fa-plus"></i></span></a>
                  <h5>{{group}}</h5>
                </div>
                <div class="ibox-content">
                  <div class="team-members row">
                    <span *ngFor="let groupMember of groupMembers[group]">
                      <a popover="{{members[groupMember].email}}" popoverTitle="{{members[groupMember].name}}" popoverPlacement="auto right"
                         [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                         [popoverDisabled]="false" [popoverAnimation]="true">
                        <img alt="member" class="img-circle" src="{{members[groupMember].photourl}}"></a>
                    </span>


                  </div>
                  <!--<h4>Info about Design Team</h4>-->
                  <!--<p>-->
                  <!--Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.-->
                  <!--</p>-->

                  <div class="row  m-t-sm">
                    <div class="col-sm-4 col-xs-4">
                      <div class="font-bold">START</div>
                      08:00
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="font-bold">END</div>
                      18:00
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      <div class="font-bold">MEMBERS</div>
                      8
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>


<app-footer></app-footer>
