<div class="container-fluid custom-modal-container">
  <div class="modal-header" style="padding-top: 0; padding-bottom: 0">
    <h3>Edit {{context.groupName}}</h3>
  </div>
  <div class="row">
    <div class="col-xs-12">

      <div class="card-block">
        <br>
        <div class="col-md-6">
          <label class="form-control-label" for="text-input">Start</label>
          &nbsp;&nbsp;
          <input type="time" [(ngModel)]="start" />
        </div>
        <div class="col-md-6">
          <label class="form-control-label" for="text-input">Finish</label>
          &nbsp;&nbsp;
          <input type="time" [(ngModel)]="end" />
        </div>
        <br><br>
        <div class="row">
          <button (click)="submit()" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" (click)="reset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>



    </div>
  </div>
</div>`
