<div class="container d-table">
  <div class="d-100vh-va-middle">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card-group">
          <div class="card p-2">
            <div class="card-block">
              <h1>Login {{loggedIn | async}}</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input (keyup.enter)="login()" type="text" class="form-control" placeholder="Username" [(ngModel)]="loginUsername">
              </div>
              <div class="input-group mb-2">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input (keyup.enter)="login()" type="password" class="form-control" placeholder="Password" [(ngModel)]="loginPassword">
              </div>
              <span style="color:red">{{errorMessage}}</span>
              <div class="row">
                <div class="col-xs-6">
                  <button type="button" (click)="login()" class="btn btn-primary px-2">Login</button>
                </div>
                <div class="col-xs-6 text-xs-right">
                  <button type="button" (click)="logout()" class="btn btn-link px-0">Forgot password?</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-inverse card-primary py-3 " style="width:44%">
            <div class="card-block text-xs-center">
              <div>
                <h2>Sign up</h2>
                <p>If you don't have an account yet you can register now.</p>
                <button type="button" class="btn btn-primary active mt-1" (click)="register()">Register Now!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

