<form>
          <h1>Login Form {{loggedIn | async}}</h1>
          <div>
            <input type="text" class="form-control" placeholder="Username" required name="loginUsername" [(ngModel)]="loginUsername" />
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" required name="loginPassword" [(ngModel)]="loginPassword"/>
          </div>
          <div>
            <button (click)="login2(); false;">Log in</button>
            <button (click)="logout()">Log Out</button>
          </div>
          <span style="color:red">{{errorMessage}}</span>
</form>
