.custom-modal-container {
  padding: 15px;
}

.team-members {
  margin: 10px 0;
}
.team-members img.img-circle {
  width: 42px;
  height: 42px;
  margin-bottom: 5px;
}

.img-circle {
  border-radius: 50%;
  vertical-align: middle;
}

.alert {
  padding: 0;
}
