<div class="container-fluid custom-modal-container">
  <div class="modal-header" style="padding-top: 0; padding-bottom: 0">
    <h3>Add Member to {{context.groupName}}</h3>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!-- Members -->
      <div style="text-align: center" class="card-block" *ngIf="members.length >= 1">
        <strong>Manage active members from other groups</strong>
        <br><br>

        <div class="team-members">
          <span *ngFor="let member of members">
            <a role="button" (click)="addMemberToGroup(member)" *ngIf="member.groups.indexOf(context.groupName) == -1" popover="{{member.email}}" popoverTitle="{{member.name}}" popoverPlacement="auto right"
               [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
               [popoverDisabled]="false" [popoverAnimation]="true">
              <img alt="member" class="img-circle" src="{{member.photourl}}"></a>
          </span>
        </div>
      </div>

      <!-- User input -->
        <form>
          <div class="form-group" style="text-align: center">
            <strong>Create new user</strong>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" [(ngModel)]="newMember.name" name="username" class="form-control" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="text" [(ngModel)]="newMember.email" name="email" class="form-control" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <button type="button" (click)="openCamera()" class="btn btn-sm btn-primary">Open Camera</button>
            <input type="file" multiple="" (change)="fileChange($event)" placeholder="Upload file"
                   id="input-upload" name="file-multiple-input" accept="image/jpeg">
          </div>

          <video #video width="320" height="240" [style.display]="showCam" style="margin: 0 auto;"></video>
          <canvas id="canvas" width="320" height="240" [style.display]="showCam" style="margin: 0 auto;"></canvas>
          <button type="button" (click)="takePicture()" class="btn btn-sm btn-primary">Take Picture</button>

          <div *ngIf="confirmationMessage !== ''" class="alert alert-danger" role="alert">{{confirmationMessage}}</div>

          <div class="form-group form-actions">
            <button type="button" (click)="submit(groupName, member)" class="btn btn-sm btn-success">Submit</button>
          </div>

        </form>



    </div>
  </div>
</div>`
