<link href="assets/spinia/css/bootstrap.min.css" rel="stylesheet">

<link href="assets/spinia/css/style.css" rel="stylesheet">

<app-header></app-header>


<app-sidebar></app-sidebar>

<!-- Main content -->
<main class="main">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-fluid">
    <div class="animated fadeIn">

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="ibox">
              <div class="ibox-title">
                <a (click)="test()"><span class="label label-primary pull-right"><i class="fa fa-plus"></i></span></a>
                <h5>Student</h5>
              </div>
              <div class="ibox-content">
                <div class="team-members">
                  <a popover="psiasdasdadadsadadasdadslva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psasdadilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>

                </div>
                <!--<h4>Info about Design Team</h4>-->
                <!--<p>-->
                  <!--Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.-->
                <!--</p>-->

                <div class="row  m-t-sm">
                  <div class="col-sm-4">
                    <div class="font-bold">START</div>
                    08:00
                  </div>
                  <div class="col-sm-4">
                    <div class="font-bold">END</div>
                    18:00
                  </div>
                  <div class="col-sm-4">
                    <div class="font-bold">MEMBERS</div>
                    8
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ibox">
              <div class="ibox-title">
                <a (click)="test()"><span class="label label-primary pull-right"><i class="fa fa-plus"></i></span></a>
                <h5>Student</h5>
              </div>
              <div class="ibox-content">
                <div class="team-members">
                  <a popover="psiasdasdadadsadadasdadslva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psasdadilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>

                </div>
                <!--<h4>Info about Design Team</h4>-->
                <!--<p>-->
                <!--Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.-->
                <!--</p>-->

                <div class="row  m-t-sm">
                  <div class="col-sm-4">
                    <div class="font-bold">START</div>
                    08:00
                  </div>
                  <div class="col-sm-4">
                    <div class="font-bold">END</div>
                    18:00
                  </div>
                  <div class="col-sm-4">
                    <div class="font-bold">MEMBERS</div>
                    8
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ibox">
              <div class="ibox-title">
                <a (click)="test()"><span class="label label-primary pull-right"><i class="fa fa-plus"></i></span></a>
                <h5>Student</h5>
              </div>
              <div class="ibox-content">
                <div class="team-members">
                  <a popover="psiasdasdadadsadadasdadslva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psasdadilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>
                  <a popover="psilva.leo@gmail.com" popoverTitle="Leonardo Silva" popoverPlacement="auto"
                     [popoverOnHover]="true" [popoverCloseOnClickOutside]="true" [popoverCloseOnMouseOutside]="false"
                     [popoverDisabled]="false" [popoverAnimation]="true">
                    <img alt="member" class="img-circle" src="assets/img/avatars/1.jpg"></a>

                </div>
                <!--<h4>Info about Design Team</h4>-->
                <!--<p>-->
                <!--Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.-->
                <!--</p>-->

                <div class="row  m-t-sm">
                  <div class="col-sm-4">
                    <div class="font-bold">START</div>
                    08:00
                  </div>
                  <div class="col-sm-4">
                    <div class="font-bold">END</div>
                    18:00
                  </div>
                  <div class="col-sm-4">
                    <div class="font-bold">MEMBERS</div>
                    8
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>


</main>
<app-asidemenu></app-asidemenu>

<app-footer></app-footer>
