<app-header></app-header>


<app-sidebar></app-sidebar>

<!-- Main content -->
<main class="main">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-fluid">
    <div class="animated fadeIn">


      <div class="row">
        <div class="card-columns col-2">

          <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              {{"weekly-access" | translate}}
            </div>
            <div class="card-block">
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [datasets]="barChartDataWeek" [labels]="barChartLabelsWeek" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
          </div>

          <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              {{"monthly-access" | translate}}
            </div>
            <div class="card-block">
              <div class="chart-wrapper">
                <canvas baseChart class="chart" [datasets]="barChartDataMonth" [labels]="barChartLabelsMonth" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>


      <!--/.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <div class="ibox-title">
              <h5>{{"logs" | translate}}</h5>
            </div>
            <div class="ibox-content">
              <div class="row">
                <div class="col-sm-9 m-b-xs">
                  <div data-toggle="buttons" class="btn-group">
                    <label class="btn btn-sm btn-white active" id="dayPeriod" (click)="choosePeriod('day')"> <input type="radio" name="options"> {{"day" | translate}} </label>
                    <label class="btn btn-sm btn-white" id="weekPeriod" (click)="choosePeriod('week')"> <input type="radio" name="options"> {{"week" | translate}} </label>
                    <label class="btn btn-sm btn-white" id="monthPeriod" (click)="choosePeriod('month')"> <input type="radio" name="options"> {{"month" | translate}} </label>
                    <label class="btn btn-sm btn-white" id="allPeriod" (click)="choosePeriod('all')"> <input type="radio" name="options"> {{"all" | translate}} </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="search-form">
                    <div class="form-group has-feedback">
                      <input (keyup)="search()" type="text" class="form-control" placeholder="{{'search' | translate}}" [(ngModel)]="searchInput">
                      <span class="fa fa-search search-icon form-control-feedback pull-right"></span>
                    </div>
                  </div>

                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th></th>
                    <th>{{"date" | translate}}</th>
                    <th>{{"venue" | translate}} </th>
                    <th>Photo</th>
                    <th>{{"name" | translate}} </th>
                    <th>{{"email" | translate}} </th>
                    <th>{{"permission" | translate}} </th>
                    <th>{{"action" | translate}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let log of filteredLogs ">
                    <td><div class="avatar"><img (click)="openModal(log.attemptPhoto)" alt="member" class="img-avatar" src="{{log.attemptPhoto}}"></div></td>
                    <td>{{getMonth(log.date.month) | translate}} {{log.date.day}} {{log.date.year}}, {{log.date.time}}</td>
                    <td>{{log.venue}}</td>
                    <td><div class="avatar"><img (click)="openModal(log.photourl)" alt="member" class="img-avatar" src="{{log.photourl}}"></div></td>
                    <td>{{log.name}}</td>
                    <td>{{log.email}}</td>
                    <td>{{log.permission}}</td>
                    <td><i [ngClass]="{'fa-check text-success': log.success == true, 'fa-close text-danger': log.success == false}" class="fa"></i></td>
                  </tr>


                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>
      </div>



    </div>

  </div>

</main>

<app-footer></app-footer>
