<app-header></app-header>


<app-sidebar></app-sidebar>

<!-- Main content -->
<main class="main">
  <app-breadcrumb></app-breadcrumb>

  <div class="container-fluid">
    <div class="animated fadeIn">

      <div class="card-columns col-2">
        <div class="card">
          <div class="card-header">
            {{"weekly-access" | translate}}
          </div>
          <div class="card-block">
            <div class="chart-wrapper">
              <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!--/.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              {{"logs" | translate}}
            </div>
            <div class="card-block">
              <!--/.row-->
              <br>
              <table class="table table-hover table-outline mb-0 hidden-sm-down">
                <thead class="thead-default">
                <tr>
                  <th class="text-xs-center"><i class="icon-people"></i>
                  </th>
                  <th>{{"user" | translate}}</th>
                  <th>{{"allowed" | translate}}</th>
                  <th>{{"venue" | translate}}</th>
                  <th>{{"activity" | translate}}</th>
                </tr>
                </thead>
                <tbody>


                <tr *ngFor="let log of logs">
                  <td class="text-xs-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status tag-success"></span>
                    </div>
                  </td>
                  <td>
                    <div>{{log.name}}</div>
                    <div class="small text-muted">
                      {{"registered" | translate}} Jan 1, 2015
                    </div>
                  </td>
                  <td>
                    <div class="clearfix">
                      <div class="float-xs-left">
                        {{log.allowedBy}}
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="clearfix">
                      <div class="float-xs-left">
                        {{log.venue}}
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="small text-muted">Last login</div>
                    {{log.date.day}}/{{log.date.month}}/{{log.date.year}} at {{log.date.time}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>

      <!--/.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="container">

              <ul class="timeline">
                <li>
                  <div class="timeline-badge">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Mussum ipsum cacilds</h6>
                      <span><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></span>
                    </div>
                    <div class="timeline-body">
                      <span>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá </span>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Mussum ipsum cacilds</h6>
                      <span><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></span>
                    </div>
                    <div class="timeline-body">
                      <span>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Mussum ipsum cacilds</h6>
                      <span><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></span>
                    </div>
                    <div class="timeline-body">
                      <span>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá </span>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Mussum ipsum cacilds</h6>
                      <span><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></span>
                    </div>
                    <div class="timeline-body">
                      <span>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Mussum ipsum cacilds</h6>
                      <span><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></span>
                    </div>
                    <div class="timeline-body">
                      <span>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá </span>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Mussum ipsum cacilds</h6>
                      <span><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></span>
                    </div>
                    <div class="timeline-body">
                      <span>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Mussum ipsum cacilds</h6>
                      <span><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></span>
                    </div>
                    <div class="timeline-body">
                      <span>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá </span>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Mussum ipsum cacilds</h6>
                      <span><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></span>
                    </div>
                    <div class="timeline-body">
                      <span>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Mussum ipsum cacilds</h6>
                      <span><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></span>
                    </div>
                    <div class="timeline-body">
                      <span>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá </span>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    </div>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Mussum ipsum cacilds</h6>
                      <span><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></span>
                    </div>
                    <div class="timeline-body">
                      <span>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá </span>
                    </div>
                  </div>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</main>

<app-asidemenu></app-asidemenu>

<app-footer></app-footer>
