<div class="sidebar">
  <nav class="sidebar-nav">

    <ul class="nav">
      <li class="divider"></li>
      <li class="nav-item">
        <img src="{{userPhoto}}" class="profile-userpic img-responsive" alt="">
        <div class="profile-usertitle">
          <div class="profile-usertitle-job">
            {{userInfo.displayName}}
          </div>
          <a class="btn" (click)="logout()">{{"logout" | translate}}</a>
        </div>
      </li>

      <li class="divider"></li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard</a>
      </li>

      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link nav-dropdown-toggle" ><i class="fa fa-home"></i> {{"venues" | translate}}</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngFor="let venue of venuesKeys">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard/venues/'+venue]"><i class="fa fa-home"></i>{{venue}}</a>
          </li>
        </ul>
      </li>


    </ul>
  </nav>
</div>
